anaconda-anon-usage @ file:///home/task_175762568762291/conda-bld/anaconda-anon-usage_1757625705334/work
anaconda-auth @ file:///home/task_175994313587130/conda-bld/anaconda-cloud-auth-split_1759943195502/work
anaconda-cli-base @ file:///home/task_176069795959605/conda-bld/anaconda-cli-base_1760698232645/work
annotated-doc==0.0.4
annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728386958747/work
anyio @ file:///home/task_175862240717140/conda-bld/anyio_1758622421932/work
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///home/task_175792494485397/conda-bld/argon2-cffi-bindings_1757924958549/work
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru @ file:///home/task_176112147279280/conda-bld/async-lru_1761121518948/work
attrs @ file:///home/task_176235654574774/conda-bld/attrs_1762356877632/work
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1756453090369/work
bleach @ file:///io/buildout/croot/bleach_1732918169505/work
boltons @ file:///croot/boltons_1751383775419/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi @ file:///home/task_176765916174011/croot/certifi_1767659183877/work/certifi
cffi @ file:///home/task_176009805548162/conda-bld/cffi_1760098067589/work
charset-normalizer==3.4.7
click @ file:///croot/click_1744271578095/work
comm @ file:///work/perseverance-python-buildout/croot/comm_1728387093347/work
conda @ file:///home/task_177140125005974/croot/conda_1771402194624/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1755123313635/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728487058234/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307506088/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1756544611453/work
courlan==1.4.0
cryptography @ file:///home/task_176010605113983/conda-bld/cryptography-split_1760106309120/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dateparser==1.4.1
debugpy @ file:///home/task_176242085821879/conda-bld/debugpy_1762421636302/work
decorator @ file:///home/task_175734100107081/conda-bld/decorator_1757341232741/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
et_xmlfile==2.0.0
executing @ file:///home/task_175706097909872/conda-bld/executing_1757061232604/work
fastapi==0.138.0
fastjsonschema @ file:///io/buildout/croot/python-fastjsonschema_1735874150137/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1759187078489/work
frozendict @ file:///work/perseverance-python-buildout/croot/frozendict_1728497542215/work
h11 @ file:///home/task_176193111687894/conda-bld/h11_1761931259172/work
htmldate==1.10.0
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///home/task_176044729083783/conda-bld/httpx_1760447344657/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
ipykernel @ file:///home/task_175758334351072/conda-bld/ipykernel_1757583366135/work
ipython @ file:///home/task_175932814549162/conda-bld/ipython_1759328495757/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///io/perseverance-python-buildout/croot/jaraco.context_1731706750665/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jedi @ file:///croot/jedi_1733987392413/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.15.0
joblib==1.5.2
json5 @ file:///io/perseverance-python-buildout/croot/json5_1731701245495/work
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
jsonschema @ file:///croot/jsonschema_1753206402902/work
jsonschema-specifications @ file:///home/task_176245198765572/conda-bld/jsonschema-specifications_1762452321126/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///io/buildout/croot/jupyter_client_1739558249609/work
jupyter_core @ file:///croot/jupyter_core_1751991368470/work
jupyter_server @ file:///croot/jupyter_server_1751996616172/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///home/task_175812493124536/conda-bld/jupyterlab_1758125006806/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///home/task_176175083995704/conda-bld/jupyterlab_server_1761751423247/work
jusText==3.0.2
keyring @ file:///croot/keyring_1745484691218/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1756467528/work
libmambapy @ file:///home/task_175762302885340/conda-bld/mamba-split_1757623046707/work/libmambapy
lxml==6.1.1
lxml_html_clean==0.4.5
markdown-it-py @ file:///croot/markdown-it-py_1756299186942/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.7
matplotlib-inline @ file:///home/task_175851946546628/conda-bld/matplotlib-inline_1758520104477/work
mdurl @ file:///home/task_175855216352428/conda-bld/mdurl_1758552176751/work
menuinst @ file:///croot/menuinst_1753464582829/work
mistune @ file:///croot/mistune_1741124011532/work
more-itertools @ file:///home/task_176112148319406/conda-bld/more-itertools_1761121494880/work
munkres==1.1.4
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///work/perseverance-python-buildout/croot/nbformat_1728385580878/work
nest_asyncio @ file:///work/perseverance-python-buildout/croot/nest-asyncio_1728387361665/work
networkx @ file:///croot/networkx_1756709277056/work
notebook @ file:///croot/notebook_1756709302552/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1761162144/work/dist/numpy-2.3.4-cp313-cp313-linux_x86_64.whl#sha256=dfcdfa1f925fd0e49eb2190260d1a0ac23d19e33902f428adf62fb3e57d5f143
openai==2.43.0
openpyxl==3.1.5
overrides @ file:///home/task_176234907965237/conda-bld/overrides_1762349091543/work
packaging @ file:///home/task_176104878999627/conda-bld/packaging_1761049078606/work
pandas==2.3.3
pandocfilters @ file:///home/task_175697775454948/conda-bld/pandocfilters_1756977812002/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///croot/pexpect_1750072593878/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1758208668/work
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1728388093137/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
pluggy @ file:///croot/pluggy_1733169602837/work
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt_toolkit @ file:///home/task_176174483342131/conda-bld/prompt-toolkit_1761744881010/work
psutil @ file:///home/task_176189641262472/conda-bld/psutil_1761896453586/work
psycopg2-binary==2.9.12
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///home/task_175706703697232/conda-bld/pure_eval_1757067052848/work
pycairo==1.28.0
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///home/task_175749564936714/conda-bld/pycparser_1757496040682/work
pydantic @ file:///home/task_176069749099755/conda-bld/pydantic_1760697502973/work
pydantic-settings @ file:///home/task_175878416925449/conda-bld/pydantic-settings_1758784193926/work
pydantic_core @ file:///home/task_176059738185733/conda-bld/pydantic-core_1760597433577/work
Pygments @ file:///croot/pygments_1744664109463/work
PyGObject==3.54.5
PyJWT @ file:///io/buildout/croot/pyjwt_1739558969999/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1731006091482/work
pyzmq @ file:///home/task_176237534284342/conda-bld/pyzmq_1762375588627/work
readchar @ file:///home/task_176061336965958/conda-bld/readchar_1760613437376/work
referencing @ file:///home/task_176243158929306/conda-bld/referencing_1762432406820/work
regex==2026.5.9
requests @ file:///croot/requests_1756709366904/work
rfc3339_validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1728386296008/work
rfc3986_validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1728386318037/work
rich @ file:///home/task_176037557612320/conda-bld/rich_1760375632000/work
rpds-py @ file:///home/task_176236646545013/conda-bld/rpds-py_1762366482549/work
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
scikit-learn==1.7.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1761689772658/work/dist/scipy-1.16.3-cp313-cp313-linux_x86_64.whl#sha256=d8a5043b720f08238f8dde07ccf1b57da1e650ee81b238b3657a20040dc66fc3
seaborn==0.13.2
SecretStorage @ file:///home/task_175793143758247/conda-bld/secretstorage_1757931467244/work
semver @ file:///croot/semver_1736540782504/work
Send2Trash @ file:///croot/send2trash_1736540790175/work
setuptools==80.9.0
shellingham @ file:///work/perseverance-python-buildout/croot/shellingham_1728395303315/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio @ file:///work/perseverance-python-buildout/croot/sniffio_1728386342155/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1728385708765/work
stack_data @ file:///home/task_175706678948354/conda-bld/stack_data_1757067036076/work
starlette==1.3.1
terminado @ file:///home/task_175793482877935/conda-bld/terminado_1757934845720/work
threadpoolctl==3.6.0
tinycss2 @ file:///io/buildout/croot/tinycss2_1739558158888/work
tld==0.13.2
tomli @ file:///croot/tomli_1753774587605/work
tornado @ file:///croot/tornado_1748956929273/work
tqdm @ file:///croot/tqdm_1738943501192/work
trafilatura==2.1.0
traitlets @ file:///work/perseverance-python-buildout/croot/traitlets_1728385099292/work
truststore @ file:///croot/truststore_1753907171582/work
typer @ file:///home/task_175758067631213/conda-bld/typer_1757580709537/work
typing-inspection @ file:///home/task_176061348700415/conda-bld/typing-inspection_1760614166875/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata==2025.2
tzlocal==5.4.3
urllib3 @ file:///croot/urllib3_1750775463400/work
uvicorn==0.49.0
wcwidth @ file:///croot/wcwidth_1750352883074/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1728385731103/work
websocket-client @ file:///work/perseverance-python-buildout/croot/websocket-client_1728386934860/work
wheel==0.45.1
zstandard @ file:///home/task_175818846949212/conda-bld/zstandard_1758189073015/work
